@charset "UTF-8";

@media (min-width: 450px) {
  .main-card {
    width: 96%;
    max-width: 400px;
    height: calc(100% - 32px) !important;
    border-radius: 8px !important;
    max-height: 600px;
    margin: 16px !important;
  }
}

.collapsed {
  width: 48px !important;
  height: 48px !important;
  border-radius: 24px !important;
  margin: 16px !important;
}

.main-card {
  background: white;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  border-radius: 0px;
  flex-direction: column;
  overflow: hidden;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.5s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chatbot_toggle {
  position: absolute;
  right: 0;
  border: none;
  height: 48px;
  width: 48px;
  background: rebeccapurple;
  padding: 14px;
  color: white;
}

#chatbot_toggle:hover {
  background: #7d56a5;
}

.line {
  height: 1px;
  background-color: rebeccapurple;
  width: 100%;
  opacity: 0.2;
}

.main-title {
  background-color: rebeccapurple;
  font-size: large;
  font-weight: bold;
  display: flex;
  height: 48px;
}

.main-title>div {
  height: 48px;
  width: 48px;
  display: flex;
  margin-left: 8px;
}

.main-title svg {
  height: 24px;
  margin: auto;
}

.main-title>span {
  margin: auto auto auto 8px;
}

.chat-area {
  flex-grow: 1;
  overflow: auto;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.que:first-child {
  border-top: 1px solid black;
}

.que {
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  color: black;

}

.que::before {
  display: inline-block;
  content: 'Q';
  font-size: 14px;
  color: #000000;
  margin: 0 5px;
}

.que.on>span {
  font-weight: bold;
  color: #000000;
}

.anw {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #f4f4f2;
  padding: 27px 0;
  color: black;
}

.anw::before {
  display: inline-block;
  content: 'A';
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin: 0 5px;
}

.arrow-wrap {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.que .arrow-top {
  display: none;
}

.que .arrow-bottom {
  display: block;
}

.que.on .arrow-bottom {
  display: none;
}

.que.on .arrow-top {
  display: block;
}