@charset "UTF-8";



#upload-img{width:300px; height:300px;}

table#tbl-comment{width:100%; margin:0 auto; border-collapse:collapse;} 
table#tbl-comment tr td{border-bottom:1px solid; padding:5px; text-align:left; line-height:120%;}

table#tbl-comment{width:100%; height:auto; margin:0 auto; border-collapse:collapse;} 
table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}

table#tbl-comment tr td:first-of-type{padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
table#tbl-comment sub.comment-date {color:rgb(128, 0, 255); font-size:10px}

table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}

table#tbl-comment tr.level2 sub.comment-writer {color:rgb(0, 0, 0); font-size:14px}

table#tbl-comment tr.level2 sub.comment-writer {color:black; font-size:14px}

table#tbl-comment tr.level2 sub.comment-date {color:rgb(128, 0, 255); font-size:10px}
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-comment-enroll2{width:60px; height:23px; color:white; background:lightslategray; position:relative; top:-5px; left:10px;}
