<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.campingez.user.model.dao.UserInfoDao">
  
  <select id="selectInquireList" resultMap="inquireListMap">
  	select
	    i.*,
	    (select count(*) from inquire_answer a where a.inq_no = i.inq_no) answer_status
	from
		inquire i
	where
		inq_writer = #{userId}
	order by
		i.inq_date desc
  </select>
  
  <resultMap type="inquire" id="inquireListMap">
  	<id column="inq_no" property="inqNo"/>
  	<result column="category_id" property="categoryId"/>
  	<result column="inq_writer" property="inqWriter"/>
  	<result column="inq_title" property="inqTitle"/>
  	<result column="inq_content" property="inqContent"/>
  	<result column="inq_date" property="inqDate"/>
  	<result column="answer_status" property="answerStatus"/>
  </resultMap>
  
  
  
   <select id="selectReservationList" resultMap="reservationMap">
  	select
		res.*,
       CASE WHEN res_checkout  <![CDATA[<]]> sysdate THEN 'OK'
                 ELSE 'NO'
                 END AS review 
	from
		reservation res
	where
		user_id = #{userId}
	order by
		res_date desc
  </select>
  
  <resultMap type="reservation" id="reservationMap">
  	<id column="res_no" property="resNo"/>
  	<result column="camp_id" property="campId"/>
  	<result column="user_id" property="userId"/>
  	<result column="res_username" property="resUsername"/>
  	<result column="res_phone" property="resPhone"/>
  	<result column="res_person" property="resPerson"/>
  	<result column="res_price" property="resPrice"/>
  	<result column="res_date" property="resDate"/>
  	<result column="res_checkin" property="resCheckin"/>
  	<result column="res_checkout" property="resCheckout"/>
  	<result column="res_car_no" property="resCarNo"/>
  	<result column="res_request" property="resRequest"/>
  	<result column="res_state" property="resState"/>
  	<result column="res_payment" property="resPayment"/>
  	<result column="review" property="review"/>
  </resultMap>
  
  <select id="selectInquireCnt" resultType="MyPage">
	  	select
	    	answer_status,
	    	count(*) status_cnt
		from(
	    	select
		    	i.*,
		    	(select count(*) from inquire_answer a where a.inq_no = i.inq_no) answer_status
			from
				inquire i
	    	where
	        	inq_writer = #{userId}
		)
		group by 
	    	answer_status
  </select>
  
<select id="selectTradeCnt" resultType="MyPage">
	  	select
	    	answer_status,
	    	count(*) status_cnt
		from(
	    	select
		    	t.*,
		    	trade_success answer_status
			from
				trade t
	    	where
	        	user_id =#{userId}
		)
		group by 
	    	answer_status
  </select>
  
  <select id="selectReservation" resultType="reservation">
	   	select
			*
		from
			reservation
		where
			user_id = #{userId}
		and
			res_checkin > sysdate
		order by
			res_date desc
  </select>
  
  
    <select id="selectCoupon" resultType="coupon">
		select 
		    c.coupon_name,
		    u.coupon_code,
		    c.coupon_discount,
		    c.coupon_startday,
		    c.coupon_endday,
		    decode(u.coupon_usedate,null,'Y','N') as coupon_usedate
		from 
		    user_coupon u left join coupon c on u.coupon_code = c.coupon_code
		where
		    user_id = #{userId}
  	</select>
</mapper>