<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.campingez.inquire.model.dao.InquireDao">
  
  <select id="selectInquireList" resultMap="inquireMap">
  	select
	    i.*,
	    (select count(*) from inquire_answer a where a.inq_no = i.inq_no) answer_status
	from inquire i
  </select>
  
  <resultMap type="inquire" id="inquireMap">
  	<id column="inq_no" property="inqNo"/>
  	<result column="category_id" property="categoryId"/>
  	<result column="inq_writer" property="inqWriter"/>
  	<result column="inq_title" property="inqTitle"/>
  	<result column="inq_content" property="inqContent"/>
  	<result column="inq_date" property="inqDate"/>
  	<result column="answer_status" property="answerStatus"/>
  </resultMap>
</mapper>