@charset "UTF-8";

[name=assignInfo] {
	cursor: pointer;
}

#btn-assignment-enroll {
	font-weight : bold;
	background-color : #A8A4CE;
	color : white;
}

.assignTitle .assignState {
	padding : 0.5rem;
	border-radius : 0.5rem;
	border : 1px solid #495C83;
	color : #495C83;
	vertical-align : text-top;
}
#btn-more-container {
	position : relative;
}
#btn_top{
    width: 30px; 
    height: 30px;
    border: 1px solid #A8A4CE; 
    color: #A8A4CE;
    cursor: pointer;
    position: fixed; bottom: 30%; right: 5%;
    z-index : 2;
}
#btn_bottom {
	width: 30px; 
    height: 30px;
    border: 1px solid #A8A4CE; 
    color: #A8A4CE;
    cursor: pointer;
    position: fixed; bottom: 26%; right: 5%;
    z-index : 2;
}
#assignListHeader {
	height : 20%;
	background-color : black;
}